.whatsappIcon {
    position: fixed;
    bottom: 20px; /* Posiciona o botão no canto inferior da tela */
    right: 20px;
    z-index: 1000;
    width: 60px; /* Tamanho do botão */
    height: 60px;
    cursor: pointer;
}

.whatsappIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.whatsappIcon img:hover {
    transform: scale(1.1); /* Aumenta levemente o botão ao passar o mouse */
}
